.camera-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #000;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .capture-btn {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 6px solid rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition: 0.2s;

    &:active {
      transform: translateX(-50%) scale(0.9);
    }

    .material-icons {
      font-size: 40px;
      color: #000;
    }
  }
}

.loading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #555;
}
